<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Visualization of biological data</title>
    <link rel="shortcut icon" href="">
</head>

<link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='main_style.css') }}" >

<body>
<header id="header">
    <h1 class="rainbow"> Visualization of biological data</h1>
        <div class="BigSpacer"></div>
        <p>Example setup. This is going to be awesome! </p>
        <div class="vertical">
              <a href="{{ url_for('network') }}">Network</a>
              <a href="{{ url_for('raindrop') }}">Raindrop</a>
              <a href="{{ url_for('particles') }}">Particles</a>
              <a href="{{ url_for('copy') }}">Copy me!</a>
              <a href="{{ url_for('parallel_coordinates') }}">Parallel Coordinates</a>
        </div>
</header>

<script src="http://d3js.org/d3.v5.min.js" charset="utf-8"></script>

<div id ="container">
<div id ="content"></div>

{% block content %}
{% endblock %}
</div>
</body>
